<div class="flex-center text-center">

	<div class="col-md-4">
		<div class="form-group">
			<label  class="text-left">First Name</label>
			<input type="text" class="form-control" />
		</div>

		<div class="form-group">
			<label  class="text-left">Last Name</label>
			<input type="text" class="form-control" />
		</div>

		<div class="form-group">
			<label  class="text-left">Email</label>
			<input type="text" class="form-control" />
		</div>

		<div class="form-group">
			<label  class="text-left">Password</label>
			<input type="text" class="form-control" />
		</div>

		<div class="form-group">
			<input type="button" class="btn btn-info" value="Register" />
		</div>
	</div>

</div>