<div class="flex-center text-center">

<!-- Default form register -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign up</p>

    <div *ngIf="registrationError" class="alert alert-danger">{{ registrationError }}</div>

    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input 
            	type="text" 
            	required 
            	name="firstname"  
            	[(ngModel)]="user.firstname"  
            	class="form-control" 
            	placeholder="First name" 
            	#firstname="ngModel">
            <span *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="text text-danger">Please tell us your first name</span>
        </div>
        <div class="col">
            <input 
            	type="text" 
            	required 
            	name="lastname"  
            	[(ngModel)]="user.lastname"  
            	class="form-control" 
            	placeholder="Last name" 
            	#lastname="ngModel">

            	<span *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="text text-danger">..and your last name too!</span>
        </div>
    </div>

    <input 
    	type="text" 
    	required 
    	name="email"  
    	[(ngModel)]="user.email"  
    	class="form-control" 
    	placeholder="Email" 
    	#email="ngModel">

    	<span *ngIf="email.invalid && (email.dirty || email.touched)" class="text text-danger">That's not a valid Email</span>

    <div class="mb-4"></div>

    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
    </small>

    <!-- Newsletter -->
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div>

    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" (click)="registerUser()" type="submit">Sign up</button>

    <!-- Social register -->
    <p>or sign up with:</p>

    <a type="button" class="light-blue-text mx-2">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a type="button" class="light-blue-text mx-2">
        <i class="fab fa-twitter"></i>
    </a>
    <a type="button" class="light-blue-text mx-2">
        <i class="fab fa-linkedin-in"></i>
    </a>
    <a type="button" class="light-blue-text mx-2">
        <i class="fab fa-github"></i>
    </a>

    <hr>

    <!-- Terms of service -->
    <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a>

</form>
<!-- Default form register -->

</div>