<div class="flex-center text-center">

<!-- Default form register -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Login</p>

    <div *ngIf="loginError" class="alert alert-danger">{{ loginError }}</div>



    <input 
    	type="text" 
    	required 
    	name="email"  
    	[(ngModel)]="user.email"  
    	class="form-control" 
    	placeholder="Email" 
    	#email="ngModel">

    	<span *ngIf="email.invalid && (email.dirty || email.touched)" class="text text-danger">That's not a valid Email</span>

    <div class="mb-4"></div>

    <!-- Password -->
    <input 
    	type="password" 
    	required
    	name="password"
    	class="form-control" 
    	placeholder="Password" 
    	#password="ngModel"
    	[(ngModel)]="user.password"
    />

    <span *ngIf="password.invalid && (password.dirty || password.touched)"
    class="text text-danger">Please provide your password</span>
    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" (click)="doLogin(user)" type="submit">Login</button>

    <!-- Social register -->
    <p>or login with:</p>

    <a type="button" class="light-blue-text mx-2">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a type="button" class="light-blue-text mx-2">
        <i class="fab fa-twitter"></i>
    </a>
    <a type="button" class="light-blue-text mx-2">
        <i class="fab fa-linkedin-in"></i>
    </a>
    <a type="button" class="light-blue-text mx-2">
        <i class="fab fa-github"></i>
    </a>

    <hr>

    <!-- Terms of service -->
    <p>New user ? <a href="/register">Signup here</a></p>

</form>
<!-- Default form register -->

</div>